/* ========== fonts ========== */
@font-face {
	font-family: 'NotoSansCJK';
	font-weight: 400;
	font-style: normal;
	src: url('./assets/fonts/notokr-regular.eot') format('embedded-opentype'),
		url('./assets/fonts/notokr-regular.woff2') format('woff2');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-weight: 500;
	font-style: normal;
	src: url('./assets/fonts/notokr-medium.eot') format('embedded-opentype'),
		url('./assets/fonts/notokr-medium.woff2') format('woff2');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-weight: 700;
	font-style: normal;
	src: url('./assets/fonts/notokr-bold.eot') format('embedded-opentype'),
		url('./assets/fonts/notokr-bold.woff2') format('woff2');
	}
/* ========== fonts ========== */

* {
	margin: 0; padding: 0; box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	margin: 0;
	font-family: NotoSansCJK, sans-serif; font-size: 1.4rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width:1024px) {
	html {
		font-size: 58.333%;
	}
}